@font-face {
    font-family: 'Square';
    src: url('./square.ttf');
}

pre {
    font-family: 'Square', monospace;
    margin: 0;
}
.options, #controls {
    font-family: monospace;
}

html, body {
    font-family: 'Square';
    height: 100%;
    margin: 0;
    background-color: #111;
    color: #777;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.game {
    font-size: 20px;
    display: flex;
}
.game-right, .game-left {
    width: 10em;
}
.game-left {
    padding-left: 2em;
}
.game-next {
    padding-top: 6em;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}
@media (max-width: 512px) {
    .options {
        flex-direction: column;
        align-items: center;
    }
}
button, input {
    background-color: #111;
    color: #777;
    font-size: 11px;
    font-weight: bold;
    border: 2px solid #777;
    border-radius: 2px;
    padding: 1px 4px;
}
a {
    color: #777;
}
.frameInfo {
    margin: 0;
}
.frameCount {
    font-size: 16px;
    font-weight: bold;
}
input[type="checkbox"] {
    accent-color: #333;
}
.source {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
