@font-face {
    font-family: 'Square';
    src: url('./square.ttf');
}

pre {
    font-family: 'Square';
    margin: 0;
    line-height: 1em;
}
.options, #controls {
    font-family: monospace;
}

html, body {
    font-family: 'Square';
    height: 100%;
    margin: 0;
    background-color: #111;
    color: #777;
    background-color: #080808;
    color: #999;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.screen-size {
    width: 32em;
    height: 30em;
    line-height: 1em;
    font-size: 20px;
}

.game {
    display: flex;
    position: relative;
}
.game-right, .game-left {
    width: 10em;
}
.game-left {
    padding-left: 1em;
    padding-top: 3em;
}
.game-middle, .game-right {
    padding-top: 2em;
}
.game-next {
    margin-top: 4em;
    position: relative;
}
#pause {
    position: absolute;
    left: 13.5em;
    top: 14em;
}
#next-hover {
    position: absolute;
    left: 0em;
    top: 0em;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}
@media (max-width: 512px) {
    .options {
        flex-direction: column;
        align-items: center;
    }
}
button, input {
    background-color: #111;
    color: #777;
    font-size: 11px;
    font-weight: bold;
    border: 2px solid #777;
    border-radius: 2px;
    padding: 1px 4px;
}
a {
    color: #777;
}
.frameInfo {
    margin: 0;
}
.frameCount {
    font-size: 16px;
    font-weight: bold;
}
input[type="checkbox"] {
    accent-color: #333;
}
.source {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
